*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #383d58;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 5%;
    margin: 0 0%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 60px;
    font-size: 30px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#383d58,#4DB7E0 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.escola-div-conteudo{
    width: 25%;
}

.escola-titulo{
    padding: 24px 0;
}